$layout-breakpoint: 600px;

.App {
  
  text-align: center;

  #quote-box {
    border: 2px solid;
    border-color: #444444;
    border-radius: 20px;
    padding: 20px;
    width: 80%;
    @media (min-width: $layout-breakpoint){
      width: 500px;
    }
        
      #author {
      font-style: italic;
      font-size: smaller;
      }
     .button {
      display: flex;
      justify-content: space-between;
      align-items: center;
      min-height: 50px;
      #tweet-quote {
        display: flex;
        padding: 10px;
        background-color: rgba(0, 0, 0, 0.9);
        border-radius: 5px;
        text-decoration: none;
        color: #efe2d3;
        }
      #tweet-quote:hover {
          background-color: rgba(0, 0, 0, 0.8);
          }
      #new-quote {
        font-size: 16px;
        display: flex;
        padding: 14px;
        background-color: rgba(0, 0, 0, 0.9);
        color: #efe2d3;
        border-radius: 5px;
        border: none;
        cursor: pointer;
        }
      #new-quote:hover {
          background-color: rgba(0, 0, 0, 0.8);
        }
    }
    
    
  }
  .App-header {
    background-color: #efe2d3;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: rgba(0, 0, 0, 0.9);
  }

    .Quote-mark-top {
    margin-top: -58px;  
    font-size: calc(24px + 5vmin);
    color: #444444;
    margin-bottom: -10px;
    @media (min-width: $layout-breakpoint) {
      margin-top:-70px
    }
        }
  .Quote-mark-bottom {
    color: #444444;
    margin-top: -15px;
    margin-bottom: -10px;
    font-size: calc(24px + 5vmin);
    }
}